<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name=" viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>  
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-t6DZ0GFSoKLoLul6Z+GqFvhjz40BJQQoScB+j/HLHe21L4jL2FadFddKHE1tWQuG" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="static\\style.css">
  <title>About</title>
</head>

<body style="background-color:powderblue;">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <img src="{{ url_for('static', filename='images/HFX Dog Friendly.jpg') }}" alt="HFX Dog Friendly Logo"
      style="width:50px;height:50px;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
      <div class="navbar-nav">
        {% if user.is_authenticated %}
        <a class="nav-item nav-link" id="locations" href="/locations">Locations</a>
        <a class="nav-item nav-link" id="logout" href="/logout">Logout</a>
        <a class="nav-item nav-link" id="contactUs" href="/contactus">Contact Us</a>
        {% else %}
        <a class="nav-item nav-link" id="home" href="/">Home</a>
        <a class="nav-item nav-link" id="about" href="/about"> About</a>
        <a class="nav-item nav-link" id="locations" href="/locations">Locations</a>
        <a class="nav-item nav-link" id="login" href="/login">Login</a>
        <a class="nav-item nav-link" id="signUp" href="/sign-up">Sign Up</a>
        <a class="nav-item nav-link" id="contactUs" href="/contactus">Contact Us</a>
        <input type="search" id="locationsInput" placeholder="Search locations..">
        {% endif %}
      </div>
    </div>
  </nav>

  {% with messages = get_flashed_messages(with_categories=true) %} {% if
  messages %} {% for category, message in messages %}
  {% if category == 'error' %}
  <div class="alert alert-danger alter-dismissable fade show" role="alert">
    {{ message }}
    <button type="button" class="close" data-dismiss="alert">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {% else %}
  <div class="alert alert-success alter-dismissable fade show" role="alert">
    {{ message }}
    <button type="button" class="close" data-dismiss="alert">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {% endif %} {% endfor %} {% endif %} {% endwith %}
  <h1 align="center">About HFX Dog Friendly</h1>

  <body>
    <img src="{{ url_for('static', filename='images/HFX Dog Friendly.jpg') }}" alt="HFX Dog Friendly Logo" align="right"
      style="width:250px;height:250px;">
    <div id="aboutinfo">
    <p align="left">
      HFX Dog Friendly is a locally owned and operated website to share all of the local
      restaurants, stores as well as public spaces where you can bring your furry
      companion.</p>
    <br>
    <p align="left">
      Want to know what places are dog friendly in the area?
      Use the search bar to find out.
    </p>
    <br>
    <p align="left">

      Know a location that is dog friendly but not listed on the site? Fill out our
      contact us form to send the information to be added.
    </p><br>
    <p align="left">
      Make an account to save your favourite locations so you can filter and easily find
      them later.
    </p>
    </div>
  </body>

</html>