{% extends "base.html" %} {% block title %}About{% endblock %}

{% block content %}
<h1 align="center">About HFX Dog Friendly</h1>
<body>
    <img src="{{ url_for('static', filename='images/HFX Dog Friendly.jpg') }}" alt="HFX Dog Friendly Logo" align= "right" style="width:250px;height:250px;">
    <p align="left" style="font-family: Arial, Helvetica, sans-serif; font-size: 20px;">
        HFX Dog Friendly is a locally owned and operated website to share all of the local 
restaurants, stores as well as public spaces where you can bring your furry 
companion.</p>
<br>
<p align="left" style="font-family: Arial, Helvetica, sans-serif; font-size: 20px;">
Want to know what places are dog friendly in the area? 
Use the search bar to find out. 
</p>
<br>
<p align="left" style="font-family: Arial, Helvetica, sans-serif; font-size: 20px;">
    
Know a location that is dog friendly but not listed on the site? Fill out our
contact us form to send the information to be added. 
</p><br>
<p align="left" style="font-family: Arial, Helvetica, sans-serif; font-size: 20px;">
Make a user Profile to save the location to your profile so you can easily find 
them later. 
    </p>
    

</body>

{% endblock %}
