{% extends "base.html" %} {% block title %}locations{% endblock %}

{% block content %}
<h1 align="center">Locations in HRM</h1>
<body>

<h3 align="left;">Patios</h3>
    <p align="left" style="font-size: 20px;">
        The Bicycle Thief 
        <br>
        Dog Friendly Patio
        <br>
        1475 Lower Water St. Halifax
        <br>
        Monday – Sunday 11:30am – 11:00pm
        </p>
        <input type="checkbox" id="saveToProfile" name="saveToProfile" value="save">
        <label for="saveToProfile"> Save to Profile</label><br>    
<br>

<h3 align="left;">Public Places</h3>
<p align="left" style="font-size: 20px;">
    Point Pleasant Park 
    <br>
    Leash and Off Leash Areas
    <br>
    5530 Point Pleasant Dr, Halifax
    <br>
    Monday – Sunday 5:00am – 10:00pm
    </p>
    <input type="checkbox" id="saveToProfile" name="saveToProfile" value="save">
        <label for="saveToProfile"> Save to Profile</label><br>    


<br>
<h3 align="left;">Hotels</h3>
<p align="left" style="font-size: 20px;">
    The Westin Nova Scotia
    <br>
    Hotel
    <br>
    1181 Hollis St, Halifax
    <br>
    24/7 
    </p>
    <input type="checkbox" id="saveToProfile" name="saveToProfile" value="save">
        <label for="saveToProfile"> Save to Profile</label><br>    

<br>

  
</body>
{% endblock %}